.row {
    margin: 10px;
    padding: 10px;
    background: lavender;
    max-width: 80%;
}

.site-id-container{
    display: block;
}
.site-id{
    margin: 5px;
}
.isOnline {
    display: none;
}

.action-boxes{
    margin: 10px;
    display: none;
}
.txt-item {
    display:inline-flex;
    width:80%;
}
.btn-add {
    margin: 5px;
    color: white;
    background: green;
    padding: 10;
    border-radius: 20px;
    border: none;
}

.btn-del {
    background: red;
    color: white;
    padding: 10px;
    border-radius: 20px;
    border: none;
}

.btn-merge {
    background:tomato;
    color:white;
    padding: 10px;
    border-radius: 20px;
    border: none;
}